*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(103, 103, 213);
}
h1,h2{
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
    padding: 0;
    color: aliceblue;
}
h2{
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 15px;
}

#input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.items{
    flex: 1;
}
#check-btn{
    color: #000;
    box-sizing: border-box;
    width: 100px;
    height: 24px;
    margin-top: 10px;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: 0 auto;
    background-color: rgba(241, 242, 238, 0.641);
    color: rgb(132, 127, 135);
    border: 1px solid rgb(60, 6, 68);
}
#text-input{
    height: 72px;
    width: 300px;
    border-radius: 4px;
    padding: 8px;
}
#check-btn:hover:active {
background-color: #000;
}

#result{
    text-align: center;
    color: aqua;
    animation-play-state: running;
    font-size: large;
    margin-top: 20px;
    padding: 20px;
}